@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-heading: var(--font-montserrat), "Montserrat", sans-serif;
  --font-body: var(--font-open-sans), "Open Sans", sans-serif;
  --font-mono: var(--font-ibm-plex-mono), "IBM Plex Mono", monospace;
}

@layer base {
  body {
    font-family: var(--font-body);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
  }

  code,
  pre,
  kbd,
  samp {
    font-family: var(--font-mono);
  }
}
